@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
  font-family: Satoshi-bold;
  src: url(./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Satoshi-medium;
  src: url(./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: Satoshi-Regular;
  src: url(./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#main {
  width: 100%;
  position: relative;

  button:hover {
    cursor: pointer;
  }
}
#nav-menu-mobile {
  display: none;
  position: relative;
}
.cross {
  display: none;
}

#page1 {
  width: 100%;
  height: 102vh;
  padding: 1rem 14.3rem;
  background-color: #041827;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
  #nav-menu {
    display: flex;
    gap: 4rem;
    font-weight: 500;
    font-size: 16px;
    align-items: center;

    p:hover {
      cursor: pointer;
    }
    #nav-btn {
      padding: 16px 32px;
      border-radius: 50px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      color: #091d2b;
      background-color: #fff;
    }
  }

  #logo {
    display: flex;
    gap: 10px;
    position: relative;
  }

  #logo div {
    width: 100px;
  }
  #logo div a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    font-family: Poppins;
    display: none;
  }

  #logo img:hover {
    cursor: pointer;
  }
}

#img-container {
  display: none;
  position: absolute;
  top: 15px;
  right: 1rem;
  cursor: pointer;
}

#hero-section {
  margin-top: 5.7rem;

  h1 {
    font-size: 7rem;
    font-family: "Satoshi-medium";
    font-weight: 400;
    line-height: 7rem;
  }
  p {
    margin-top: 3rem;
    font-size: 2rem;
  }
}

#video-section {
  position: absolute;
  top: 45rem;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  max-width: 115%;
  padding: 1rem 14.3rem;
  height: 50rem;

  video {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    object-fit: cover;
  }
}

#color {
  background: linear-gradient(
    to bottom,
    #091d2b,
    #444d5a,
    #80838e,
    #bfbfc5,
    #f5f7fc
  );
  width: 100%;
  height: 30rem;
  z-index: -99;
  position: absolute;
}

p.heading {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #1a2b3a;
}

.sub-heading {
  color: #041827;
  font-size: 4.5rem;
  font-family: Satoshi-medium;
  font-weight: 400;
  line-height: 4.5rem;
  margin-top: 1.2rem;
}

#page2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #f5f7fc;
  margin-top: 30rem;
  border-bottom-right-radius: 7rem;
  border-bottom-left-radius: 7rem;
  padding: 10rem 29rem;

  .heading {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #1a2b3a;
  }

  h2.sub-heading {
    color: #041827;
    font-size: 4.5rem;
    font-family: Satoshi-medium;
    font-weight: 400;
    line-height: 4.5rem;
    margin-top: 1.2rem;
  }

  #cards-container {
    display: flex;
    justify-content: space-between;
  }

  .card {
    margin-top: 3rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 4rem;
      font-weight: 400;

      span {
        font-size: 3rem;
      }
    }

    h5 {
      font-size: 1.4rem;
      font-weight: 600;
    }
    p {
      color: #041827;
    }
  }

  h2.bottom-heading {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 7rem;
  }

  h2.last-heading {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
  }
}

mark {
  background-color: #fdf0d8;
}

#page3 {
  background-color: #fff;
  min-height: 100vh;
  margin-top: 8rem;
  padding: 4rem 14.3rem;

  .heading {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #1a2b3a;
  }

  h2.sub-heading {
    color: #041827;
    font-size: 4.3rem;
    font-family: Satoshi-medium;
    font-weight: 400;
    line-height: 4.5rem;
    margin-top: 1.2rem;
    width: 64%;
  }

  #cards-holder {
    display: flex;
    height: auto;
    gap: 2rem;
    margin-bottom: 5rem;

    .card {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;

      gap: 1rem;
      width: 28rem;
      min-height: 40rem;
      background-color: #dee3ff;
      border-radius: 25px;
      padding: 3rem 2.9rem;
      img {
        width: fit-content;
      }

      h4 {
        font-size: 2rem;
        font-weight: 400;
        font-family: Satoshi-medium;
      }

      ul {
        padding: 0 1.5rem;
        list-style-type: square;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        li {
          font-size: 19px;
          font-weight: 500;
        }
      }
    }

    .card2 {
      background-color: #fdefd9 !important;
      transform: translateY(10%);
      padding-bottom: 3rem;
    }

    .card3 {
      background-color: #fdeaea;
      transform: translateY(20%);
    }
  }
}

#page4 {
  padding: 5rem 29rem;

  .heading {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #1a2b3a;
  }

  h2.sub-heading {
    color: #041827;
    font-size: 4.3rem;
    font-family: Satoshi-medium;
    font-weight: 400;
    line-height: 4.5rem;
    margin-top: 1.2rem;
  }

  h4.second-last-heading {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 7rem;
  }

  h4.last-heading {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
  }
}

#page5 {
  padding: 1rem 14.3rem;
  margin-top: 7rem;

  #cards-holder {
    display: flex;
    gap: 5rem;

    .card {
      width: 47%;

      p.text {
        color: #041827;
        margin-top: 1.5rem;
      }

      p.faded {
        color: red;
      }

      h3.sub-heading {
        font-size: 2rem;
        font-weight: 400;
        font-family: "Satoshi-Medium";
        color: #041827;
        margin-top: 1.5rem;
      }

      #frame-holder {
        display: flex;
        gap: 3rem;

        .frame {
          p {
            margin: 1.5rem 0;
            color: #828b93;
            font-weight: 500;
          }

          h4 {
            font-size: 1.3rem;
            font-weight: 500;
            color: #041827;
          }
        }
      }
      .image-holder {
        width: 100%;
        margin-top: 1.5rem;
        border-radius: 25px;
        background-color: #e8f4ff;
        padding: 7rem 2rem;
        height: fit-content;
        overflow: hidden;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
        }
        img.first-img {
          transform: translateX(-10%) scale(1.3);
        }
        img.second-img {
          position: absolute;
          top: 0;
          left: 15%;
          transform: scale(0.7);
        }
      }
    }

    .card2 {
      width: 48%;
      margin-top: 5rem;

      .image-holder {
        background-color: #d4d9e6;
        padding: 12rem 2rem;

        img {
          object-fit: cover;
          width: 100%;
          transform: scale(2) !important;
        }
      }
    }
  }
}

#page6 {
  padding: 5rem 29rem;
  margin-top: 3rem;
}

#carousel-holder {
  padding-left: 27rem;

  .carousel {
    width: 55%;
    padding-left: 2rem;
    color: #041827;

    h4.description {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    h3.author {
      font-size: 2rem;
      font-family: "Satoshi-Medium";
      font-weight: 400;
    }

    p.designation {
      font-family: "Satoshi-Regular";
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

#infinite-carousel {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
  margin-top: 15rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

#page7 {
  padding: 1rem 14.3rem;
  margin-top: 10rem;
  div {
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 25px;
    background-color: #041827;
    color: #fff;

    h2 {
      font-family: "Satoshi-Medium";
      font-size: 4.5rem;
      line-height: 4.5rem;
      width: 70%;
      text-align: center;
      font-weight: 400;
    }

    button {
      margin-top: 1rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 50px;
      font-size: 17px;
      font-weight: 500;
      color: #fff;
      background-color: #2d4acd;
    }
  }
}

footer {
  padding: 1rem 14.3rem;
  margin-top: 5rem;

  img {
    margin-bottom: 2rem;
  }

  #footer-container {
    display: flex;
    justify-content: space-between;

    .left-footer {
      width: 30%;

      h5 {
        font-size: 1.5rem;
        font-weight: 400;
        color: #041827;
      }

      p {
        margin-top: 1rem;
        color: #1a2b3a;
      }

      h6 {
        margin-top: 1rem;
        font-weight: 400;
        font-size: 1rem;
        color: #1a2b3a;
      }
    }
  }

  .right-footer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    .navigation {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h6 {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #9da3aa;
      }

      a {
        font-size: 14px;
        text-decoration: none;
        color: rgba(36, 51, 65, 0.907) !important;
        font-weight: 600;
      }
    }
  }
}

#dummy {
  height: 20px;
  margin-top: 5rem;
}

/* MEDIA QUERIES */

@media (width <=1675px) {
  #page2 {
    padding: 10rem 15rem;
  }

  #page3 {
    background-color: #fff;
    min-height: 100vh;
    margin-top: 8rem;
    padding: 4rem 5rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4.3rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      line-height: 4.5rem;
      margin-top: 1.2rem;
      width: 70%;
    }
  }

  #page4 {
    padding: 5rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4.3rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      line-height: 4.5rem;
      margin-top: 1.2rem;
      width: 80%;
    }

    h4.second-last-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 7rem;
    }

    h4.last-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  #page5 {
    padding: 1rem 8rem;
    margin-top: 7rem;
  }

  #page6 {
    padding: 5rem 25rem;
    margin-top: 3rem;
  }

  #page7 {
    padding: 1rem 8rem;
    margin-top: 10rem;
    div {
      display: flex;
      padding: 5rem 0;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      border-radius: 25px;
      background-color: #041827;
      color: #fff;

      h2 {
        font-family: "Satoshi-Medium";
        font-size: 4.5rem;
        line-height: 4.5rem;
        width: 70%;
        text-align: center;
        font-weight: 400;
      }

      button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background-color: #2d4acd;
      }
    }
  }
}

@media (width <= 1580px) {
  #page1 {
    padding: 1rem 5rem;
  }

  #video-section {
    position: absolute;
    top: 45rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1rem 1rem;
    height: 50rem;

    video {
      width: 100%;
      height: 100%;
      border-radius: 26px;
      object-fit: cover;
    }
  }

  #page2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #f5f7fc;
    margin-top: 30rem;
    border-bottom-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    padding: 10rem 10rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4.5rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      line-height: 4.5rem;
      margin-top: 1.2rem;
    }

    #cards-container {
      display: flex;
      justify-content: space-between;
    }

    .card {
      margin-top: 3rem;
      width: 18rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        font-size: 4rem;
        font-weight: 400;

        span {
          font-size: 3rem;
        }
      }

      h5 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      p {
        color: #041827;
      }
    }

    h2.bottom-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 7rem;
    }

    h2.last-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  #page3 {
    #cards-holder {
      display: flex;
      height: auto;
      gap: 1rem !important;
      margin-bottom: 5rem;

      .card {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 28rem !important;
        min-height: 40rem;
        background-color: #dee3ff;
        border-radius: 25px;
        padding: 2rem 1.8rem !important;

        img {
          width: fit-content;
        }

        h4 {
          font-size: 1.7rem !important;
          font-weight: 400;
          font-family: Satoshi-medium;
        }

        p {
          font-size: 15px;
        }

        ul {
          padding: 0 1.5rem;
          list-style-type: square;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 1rem;

          li {
            font-size: 17px !important;
            font-weight: 500;
          }
        }
      }

      .card2 {
        background-color: #fdefd9 !important;
        transform: translateY(10%);
        padding-bottom: 3rem;
      }

      .card3 {
        background-color: #fdeaea;
        transform: translateY(20%);
      }
    }
  }

  #page4 {
    padding: 5rem 10rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4rem;
      line-height: 4rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
    }

    h4.second-last-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 7rem;
    }

    h4.last-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  #page6 {
    padding: 5rem 15rem;
    margin-top: 3rem;
  }

  #carousel-holder {
    padding-left: 15rem;

    .carousel {
      width: 70%;
      padding-left: 2rem;
      color: #041827;

      h4.description {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      h3.author {
        font-size: 2rem;
        font-family: "Satoshi-Medium";
        font-weight: 400;
      }

      p.designation {
        font-family: "Satoshi-Regular";
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
  }

  #page7 {
    padding: 1rem 5rem;
    margin-top: 10rem;
    div {
      display: flex;
      padding: 5rem 0;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      border-radius: 25px;
      background-color: #041827;
      color: #fff;

      h2 {
        font-family: "Satoshi-Medium";
        font-size: 4rem;
        line-height: 4rem;
        width: 70%;
        text-align: center;
        font-weight: 400;
      }

      button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background-color: #2d4acd;
      }
    }
  }

  #nav-menu {
    gap: 3rem !important;
  }
}

@media (width <= 1165px) {
  #page1 {
    padding: 1rem 2rem;
  }

  #hero-section {
    margin-left: auto;
    margin-right: auto;
  }

  #hero-section h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  #hero-section p {
    font-size: 1.8rem;
  }

  #video-section {
    position: absolute;
    top: 40rem;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    /* padding: 1rem 1rem; */
    height: 35rem;

    video {
      width: 100%;
      height: 100%;
      border-radius: 26px;
      object-fit: cover;
    }
  }

  #color {
    background: linear-gradient(
      to bottom,
      #091d2b,
      #444d5a,
      #80838e,
      #bfbfc5,
      #f5f7fc
    );
    width: 100%;
    height: 17rem;
    z-index: -99;
    position: absolute;
  }

  #page2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #f5f7fc;
    margin-top: 17rem;
    border-bottom-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    padding: 10rem 3rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4.1rem;
      line-height: 4.1rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
    }

    #cards-container {
      display: flex;
      justify-content: space-between;
    }

    .card {
      margin-top: 3rem;
      width: 18rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        font-size: 4rem;
        font-weight: 400;

        span {
          font-size: 3rem;
        }
      }

      h5 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      p {
        color: #041827;
      }
    }

    h2.bottom-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 7rem;
    }

    h2.last-heading {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  #page3 {
    background-color: #fff;
    min-height: 100vh;
    margin-top: 8rem;
    padding: 4rem 3rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4rem;
      line-height: 4rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
      width: 75%;
    }
  }

  #page4 {
    padding: 5rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4.5rem;
      line-height: 4.5rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
      width: 100%;
    }

    h4.second-last-heading {
      font-size: 1.8rem;
      font-weight: 400;
      margin-top: 7rem;
    }

    h4.last-heading {
      font-size: 1.8rem;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  #page5 {
    padding: 1rem 8rem;
    margin-top: 7rem;
  }

  #page6 {
    padding: 5rem 8rem;
    margin-top: 3rem;
  }

  #carousel-holder {
    padding-left: 5rem;

    .carousel {
      width: 75%;
      padding-left: 0rem;
      color: #041827;

      h4.description {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      h3.author {
        font-size: 2rem;
        font-family: "Satoshi-Medium";
        font-weight: 400;
      }

      p.designation {
        font-family: "Satoshi-Regular";
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
  }

  #infinite-carousel {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
    margin-top: 7rem;
  }

  #page7 {
    padding: 1rem 5rem;
    margin-top: 10rem;
    div {
      display: flex;
      padding: 5rem 0;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      border-radius: 25px;
      background-color: #041827;
      color: #fff;

      h2 {
        font-family: "Satoshi-Medium";
        font-size: 3.7rem;
        line-height: 3.7rem;
        width: 90%;
        text-align: center;
        font-weight: 400;
      }

      button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background-color: #2d4acd;
      }
    }
  }

  footer {
    padding: 1rem 8rem;
    margin-top: 5rem;

    img {
      margin-bottom: 2rem;
    }

    #footer-container {
      display: flex;
      justify-content: space-between;

      .left-footer {
        width: 30%;

        h5 {
          font-size: 1.5rem;
          font-weight: 400;
          color: #041827;
        }

        p {
          margin-top: 1rem;
          color: #1a2b3a;
        }

        h6 {
          margin-top: 1rem;
          font-weight: 400;
          font-size: 1rem;
          color: #1a2b3a;
        }
      }
    }

    .right-footer {
      width: 60%;
      display: flex;
      justify-content: space-between;
      .navigation {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h6 {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 2px;
          color: #9da3aa;
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: rgba(36, 51, 65, 0.907) !important;
          font-weight: 600;
        }
      }
    }
  }

  #nav-menu {
    gap: 2rem !important;

    button {
      padding: 13px 26px !important;
    }
  }
}

@media (width <= 980px) {
  #video-section {
    top: 45rem;
  }
  #page3 {
    background-color: #fff;
    min-height: 100vh;
    margin-top: 8rem;
    padding: 4rem 3rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
      width: 100%;
      margin-bottom: 5rem;
    }

    #cards-holder {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 0.5rem !important;
      margin-bottom: 5rem;

      .card {
        margin-top: 0rem !important;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        min-height: 35rem !important;
        background-color: #dee3ff;
        border-radius: 25px;
        padding: 2rem 1.8rem !important;

        img {
          width: fit-content;
          transform: scale(1.2);
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 2.5rem !important;
          font-weight: 400;
          font-family: Satoshi-medium;
        }

        p {
          font-size: 16px;
        }

        ul {
          padding: 0 1.5rem;
          list-style-type: square;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 1rem;

          li {
            font-size: 17px !important;
            font-weight: 500;
          }
        }
      }

      .card2 {
        background-color: #fdefd9 !important;
        transform: translateY(10%);
        padding-bottom: 3rem;
      }

      .card3 {
        background-color: #fdeaea;
        transform: translateY(20%);
      }
    }
  }

  #page5 {
    padding: 1rem 5rem;
    margin-top: 7rem;

    #cards-holder {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .card {
        width: 100%;

        p.text {
          color: #041827;
          margin-top: 1.5rem;
        }

        p.faded {
          color: red;
        }

        h3.sub-heading {
          font-size: 4vw;
          font-weight: 400;
          font-family: "Satoshi-Medium";
          color: #041827;
          margin-top: 1.5rem;
        }

        #frame-holder {
          display: flex;
          flex-direction: column;
          gap: 0;
          margin-top: 1rem;

          .frame {
            p {
              margin: 0rem 0;
              margin-top: 0.5rem;
              color: #828b93;
              font-weight: 500;
            }

            h4 {
              font-size: 1.3rem;
              font-weight: 500;
              color: #041827;
            }
          }
        }
        .image-holder {
          width: 100%;
          margin-top: 1.5rem;
          border-radius: 25px;
          background-color: #e8f4ff;
          padding: 7rem 2rem;
          height: fit-content;
          overflow: hidden;
          position: relative;
          img {
            object-fit: cover;
            width: 100%;
          }
          img.first-img {
            transform: translateX(-10%) scale(1.3);
          }
          img.second-img {
            position: absolute;
            top: 0;
            left: 15%;
            transform: scale(0.7);
          }
        }
      }

      .card2 {
        width: 100%;
        margin-top: 5rem;

        .image-holder {
          background-color: #d4d9e6;
          padding: 12rem 2rem;

          img {
            object-fit: cover;
            width: 100%;
            transform: scale(2) !important;
          }
        }
      }
    }
  }
  #page6 {
    padding: 5rem;
    margin-top: 3rem;
  }

  #page7 {
    padding: 1rem 5rem;
    margin-top: 10rem;
    div {
      display: flex;
      padding: 5rem 0;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      border-radius: 25px;
      background-color: #041827;
      color: #fff;

      h2 {
        font-family: "Satoshi-Medium";
        font-size: 8vw;
        line-height: 8vw;
        width: 95%;
        text-align: center;
        font-weight: 400;
      }

      button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background-color: #2d4acd;
      }
    }
  }

  footer {
    padding: 1rem 5rem;
    margin-top: 5rem;

    img {
      margin-bottom: 2rem;
    }

    #footer-container {
      display: flex;
      justify-content: space-between;

      .left-footer {
        width: 30%;

        h5 {
          font-size: 1rem;
          font-weight: 400;
          color: #041827;
        }

        p {
          margin-top: 1rem;
          color: #1a2b3a;
        }

        h6 {
          margin-top: 1rem;
          font-weight: 400;
          font-size: 1rem;
          color: #1a2b3a;
        }
      }
    }

    .right-footer {
      width: 60%;
      display: flex;
      justify-content: space-between;
      .navigation {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h6 {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 2px;
          color: #9da3aa;
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: rgba(36, 51, 65, 0.907) !important;
          font-weight: 600;
        }
      }
    }
  }

  #nav-menu button {
    display: none !important;
  }
}

@media (width <= 810px) {
  #page1 {
    padding: 1rem 2rem;
  }

  #hero-section {
    margin-left: auto;
    margin-right: auto;
  }

  #hero-section h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  #hero-section p {
    font-size: 1.5rem;
  }

  #video-section {
    position: absolute;
    top: 40rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 27rem;

    video {
      width: 100%;
      height: 100%;
      border-radius: 26px;
      object-fit: cover;
    }
  }

  #color {
    background: linear-gradient(
      to bottom,
      #091d2b,
      #444d5a,
      #80838e,
      #bfbfc5,
      #f5f7fc
    );
    width: 100%;
    height: 10rem;
    z-index: -99;
    position: absolute;
  }

  #page2 {
    margin-top: 10rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }

  #page3 {
    background-color: #fff;
    min-height: 100vh;
    margin-top: 8rem;
    padding: 4rem 3rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 4rem;
      line-height: 4rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
    }

    #cards-holder {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 0.5rem !important;
      margin-bottom: 5rem;

      .card {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        min-height: 35rem !important;
        background-color: #dee3ff;
        border-radius: 25px;
        padding: 2rem 1.8rem !important;

        img {
          width: fit-content;
          transform: scale(1.2);
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 2.5rem !important;
          font-weight: 400;
          font-family: Satoshi-medium;
        }

        p {
          font-size: 16px;
        }

        ul {
          padding: 0 1.5rem;
          list-style-type: square;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 1rem;

          li {
            font-size: 17px !important;
            font-weight: 500;
          }
        }
      }

      .card2 {
        background-color: #fdefd9 !important;
        transform: translateY(10%);
        padding-bottom: 3rem;
      }

      .card3 {
        background-color: #fdeaea;
        transform: translateY(20%);
      }
    }
  }

  #page6 {
    padding: 5rem 2rem;
    margin-top: 3rem;

    h2 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
}

@media (width <= 746px) {
  #img-container {
    display: block;
    z-index: 2;
  }
  nav {
    display: block;
    padding: 0;
    position: relative;

    #logo div a {
      display: block !important;
    }
  }
  #nav-menu {
    display: none !important;
  }

  #nav-menu-mobile {
    position: fixed;
    /* display: flex !important; */
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100vw;
    background-color: #fff;
    z-index: 9;
    p {
      font-size: 6vw !important;
      text-align: center;
      margin-top: 2rem;
      font-weight: 500;
    }

    button {
      min-width: 187px;
      color: #fff;
      background-color: #2e4acd;
      border: none;
      border-radius: 32px;
      padding: 16px 32px;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      text-decoration: none;
      transition: all 0.2s;
      width: fit-content;
      align-self: center;
      margin-top: 3rem;
    }

    .cross {
      display: block !important;
      position: relative;

      img {
        width: 10vw;
        position: absolute;
        top: -10vh;
        right: 2rem;
        cursor: pointer;
      }
    }
  }

  #page2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #f5f7fc;
    margin-top: 10rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding: 10rem 2rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 3rem;
      line-height: 3rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 1.2rem;
    }

    #cards-container {
      display: flex;
      flex-direction: column;
    }

    .card {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 4.5rem;
        font-weight: 400;
        color: #041827;

        span {
          font-size: 3rem;
          color: #041827;
        }
      }

      h5 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #041827;
      }
      p {
        font-size: 15px;
        color: #041827;
      }
    }

    h2.bottom-heading {
      font-size: 1.7rem;
      font-weight: 400;
      margin-top: 7rem;
    }

    h2.last-heading {
      font-size: 1.7rem;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  #page3 {
    background-color: #fff;
    min-height: 100vh;
    margin-top: 8rem;
    padding: 4rem 3rem;

    .heading {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #1a2b3a;
    }

    h2.sub-heading {
      color: #041827;
      font-size: 3rem;
      line-height: 3rem;
      font-family: Satoshi-medium;
      font-weight: 400;
      margin-top: 0.5rem;
    }

    #cards-holder {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 0.5rem !important;
      margin-bottom: 5rem;

      .card {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        min-height: 35rem !important;
        background-color: #dee3ff;
        border-radius: 25px;
        padding: 2rem 1.8rem !important;

        img {
          width: fit-content;
          transform: scale(1.2);
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 2rem !important;
          font-weight: 400;
          font-family: Satoshi-medium;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  footer {
    padding: 1rem 3rem;
    margin-top: 5rem;

    img {
      margin-bottom: 2rem;
    }

    #footer-container {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .left-footer {
        width: 100%;

        h5 {
          font-size: 1rem;
          font-weight: 400;
          color: #041827;
        }

        p {
          margin-top: 1rem;
          color: #1a2b3a;
        }

        h6 {
          margin-top: 1rem;
          font-weight: 400;
          font-size: 1rem;
          color: #1a2b3a;
        }
      }
    }

    .right-footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .navigation {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        h6 {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 2px;
          color: #9da3aa;
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: rgba(36, 51, 65, 0.907) !important;
          font-weight: 600;
        }
      }
    }
  }

  #dummy {
    height: 20px;
    margin-top: 0;
  }
}

@media (width <= 600px) {
  #page1 {
    h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  }

  #video-section {
    top: 42rem;
  }

  #page2 {
    margin-top: 10rem;
    z-index: -99;
  }

  #page3 {
    margin-top: 0;
  }

  #page4 {
    padding: 3rem;
    h2 {
      width: 100%;
      font-size: 8vw !important;
      line-height: 8vw !important;
    }

    h4 {
      font-size: 5vw !important;
      margin-top: 5rem !important;
    }

    h4.last-heading {
      margin-top: 5rem !important;

      margin-top: 2rem !important;
    }
  }

  #page5 {
    margin-top: 0;
    padding: 3rem;
    #cards-holder {
      gap: 0;
      .card {
        h3 {
          margin-top: 0 !important;
        }
        p {
          margin-top: 0 !important;
        }
      }
    }

    #frame-holder {
      gap: 2rem !important;
    }
  }

  #page6 {
    margin-top: 0;

    h2 {
      font-size: 8vw;
      line-height: 8vw;
    }
  }

  #carousel-holder {
    padding: 3rem;

    .carousel {
      width: 90%;
    }
    h4 {
      font-size: 4vw !important;
    }

    h3 {
      font-size: 4vw !important;
    }
  }

  #page7 {
    padding: 3rem;

    h2 {
      font-size: 8vw !important;
    }
  }

  footer h5 {
    font-size: 4vw !important;
  }
}

@media (width <= 400px) {
  #video-section {
    top: 50rem;
  }

  #page2 {
    margin-top: 25rem;
    z-index: -99;
  }
}

@media (width <= 365px) {
  #nav-menu-mobile {
    .cross {
      img {
        width: 10vw;
        position: absolute;
        right: 2rem;
        cursor: pointer;
      }
    }
  }

  #page1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #page1 #hero-section h1 {
    font-size: 13vw;
  }
}
